<!-- Initialize the editor. -->
<script>
    $(document).ready(function() {
        $(function() { $('textarea').froalaEditor() });
    });
</script>

<div class="module col s12">
    <header><h6>BODY TEXT</h6></header>
        <!-- Create a tag that we will use as the editable area. -->
        <!-- You can use a div tag as well. -->
        <textarea></textarea>
    <div class="fr-view">
    </div>
    <footer>
        <a class="pull-left undo"href="#">UNDO</a>
        <a class="pull-right save" href="#">SAVE</a>
    </footer>
</div>
