<div class="module instagram col-md-12">
    <header><h5>SOCIAL EMBED - FACEBOOK</h5></header>
    <div>
        <div class="row">
            <div class="col-md-2">
                <ul>
                    <li>
                        <img src="/src/images/compass.png">
                    </li>
                    <li>
                        <img src="/src/images/copy.png">
                    </li>
                    <li>
                        <img src="/src/images/recycle.png">
                    </li>
                </ul>
            </div>
            <div class="col-md-8">
                <h5><i class="icon icon-asterisk"></i>Embeded Code</h5>
                <input type="text">
            </div>
        </div>
    </div>
    <footer>
        <a class="pull-left undo"href="#">UNDO</a>
        <a class="pull-right save" href="#">SAVE</a>
    </footer>
</div>