<script>
    $(document).ready(function() {
        $(function() { $('textarea').froalaEditor() });
    });
</script>
<div class="module large-image col-md-12">
    <header> <h5>LARGE IMAGE</h5></header>
    <div class="row">
        <div class="col s10 offset-s1">
        <div class="row">
            <div class="col-md-12">
                <form action="/upload-target" class="dropzone">
                    <div class="dz-default dz-message">
                        <img src="src/images/upload.png"> <span>Drop file to upload or Browse</span>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col s6">
                <ul>
                    <li>
                        <h6><i class="icon icon-asterisk"></i>Image Url</h6>
                        <input type="text">
                    </li>
                    <li>
                        <h6><i class="icon icon-asterisk"></i>Photo Caption</h6>
                        <input type="text">
                    </li>
                    <li>
                        <h6>H2</h6>
                        <input type="text">
                    </li>
                </ul>
            </div>
            <div class="col s6">
                <ul>
                    <li>
                        <h6><i class="icon icon-asterisk"></i>Photo Credit</h6>
                        <input type="text">
                    </li>
                    <li>
                        <h6><i class="icon icon-asterisk"></i>PHto Caption URL</h6>
                        <input type="text">
                    </li>
                    <li>
                        <h6>H3</h6>
                        <input type="text">
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <h6>Body Text</h6>
            <!-- Create a tag that we will use as the editable area. -->
            <!-- You can use a div tag as well. -->
            <textarea></textarea>
            <div class="fr-view">
            </div>
        </div>
    </div>
    </div>
    <footer>
        <a class="pull-left undo"href="#">UNDO</a>
        <a class="pull-right save" href="#">SAVE</a>
    </footer>
</div>